@import 'reset_css';

.title {
  color: #861111;
  padding: 30px;
  font-size: 100px;
  font: 100% Avenir;
  font-weight: medium;
  background-color: #0a142e;
  text-align: center;
}

.test {
  background-color: white;
  font-family: Delius Swash Caps;
  font-size: 40px;
  font: 100% Avenir;
  color: #861111;
  text-align: center;
}
