<h1>
  <div class="title">
    MyCloset
  </div>
</h1>

<body>
  <div class="test">
    <span>
      teste
    </span>
  </div>

  <table>
    <tr>
      <th>Blusas</th>
      <th>Calças</th>
      <th>Shorts</th>
      <th>Sapatos</th>
      <th>Casacos</th>
    </tr>
    <tr>
      <td><%= link_to "Add", newshirt_path %></td>
      <td>Add</td>
      <td>Add</td>
      <td>Add</td>
      <td>Add</td>
    </tr>
  </table>
</body>
